@model IEnumerable<Products>
    <div class="container">
    @section Scripts{
        @if (TempData["Notification"] is not null)
        {
            <script>
                toaster.success('@TempData["Notification"]')
            </script>

        }
    }
    <section class="py-3 filter-bar">
        <div class="container">
            <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
                <div class="col-12">
                    <form>
                        <div class="row">
                            <!-- Product Name -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Product Name" name="name" value="@ViewBag.name">
                            </div>

                            <!-- Price Range -->
                            <div class="col-md-2">
                                <input type="number" class="form-control" placeholder="Min Price" name="minprice" value="@ViewBag.minprice">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" placeholder="Max Price" name="maxprice" value="@ViewBag.maxprice">
                            </div>

                            <!-- Category -->
                            <div class="col-md-2">
                                <select name="catecoryid" class="form-control">
                                    <option value="">--Select Category--</option>
                                    @foreach (var item in ViewBag.category)
                                    {
                                        if (item.Id == ViewBag.catecoryid)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select name="brandid" class="form-control">
                                    <option value="">--Select Brand--</option>
                                    @foreach (var item in ViewBag.brands)
                                    {
                                        if (item.Id == ViewBag.brandid)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <!-- Rating -->
                            @* <div class="col-md-2"> *@
                            @*     <select name="rating" class="form-control"> *@
                            @*         <option value="">Any Rating</option> *@
                            @*         <option>option 1</option> *@
                            @*         <option>option 2</option> *@
                            @*         <option>option 3</option> *@
                            @*     </select> *@
                            @* </div> *@

                            <!-- Hot Product Checkbox -->
                            <div class="col-md-1">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="lessQuantity" value="true" @(ViewBag.lessQuantity is not null && ViewBag.lessQuantity ? "checked" : "")>
                                    <label class="form-check-label">lessQuantity</label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
        <div class="row mb-3 align-items-center my-3">
            <div class="col-md-6">
                <h2 class="display-6">All Products</h2>
            </div>
            <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
                <a href="/admin/product/create" class="btn btn-success">Create</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category name</th>
                            <th scope="col">Brand name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quntity</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Category.Name</td>
                            <td>@item.Brand.Name</td>
                            <td>@item.Price.ToString("C")</td>
                            @if (item.Quantity > 100)
                            {
                                <td><span class="badge text-bg-primary">@item.Quantity</span></td>
                            }
                            else
                            {
                                <td><span class="badge text-bg-danger">@item.Quantity</span></td>
                            }
                             @if (item.Status)
                             {
                                 <td><span class="badge text-bg-success">Active</span></td>
                             }
                             else
                             {
                            <td><span class="badge text-bg-danger">Inactive</span></td>
                             }
                            <td>
                                <a href="/Admin/Product/Edit/@item.Id" type="button" class="btn btn-warning">Edit</a>
                                <a href="/Admin/Product/Delete/@item.Id" type="button" class="btn btn-danger btn-delete">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
            </div>
        </div>
    </div>

    @section Scripts{

         @if(@TempData["sucess-Notification"] is not null)
         {
                <script>
                toastr.success['@TempData["sucess-Notification"]'];
        </script>
        }
    else if (@TempData["error-Notification"] is not null)
        {
        <script>
            toastr.error['@TempData["error-Notification"]'];
        </script>
        }
    }



